<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
    <!-- Other metadata and links to external resources can go here -->
      <title>College site</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
   </head>
   <body>
    <header class="header">
        <a href="#" class="logo">Vel Tech Rangarajan Dr. Sagunthala R&D Institute of Science and Technology</a>
        <nav class="nav-items">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
      </header>
      <main>
         <div class="intro">
            <h1>Need help with a college tour?</h1>
            <p>Let's help you navigate the campus</p>
            <button>Lets Start</button>
         </div>
         <div class="achievements">
            <div class="work">
               <i class="fas fa-atom"></i>
               <p class="work-heading">Academic Research</p>
               <p class="work-text">Academic Research at Vel Tech aims to develop innovative solutions for the World’s most challenging predicaments, from addressing the energy needs of tomorrow to innovate for the future. The Research efforts are enhanced through creative collaborations with leading Research Institutions and consortia around the world.</p>
            </div>
            <div class="work">
               <i class="fas fa-skiing"></i>
               <p class="work-heading">Academic</p>
               <p class="work-text">Learning by Doing is the practice of academic at Vel Tech. The balancing of analytical diligence with practical, makes them curious, fascinate and keep in motion towards solving real world complex problems to serve society at large and become passionate doers.</p>
            </div>
            <div class="work">
               <i class="fas fa-ethernet"></i>
               <p class="work-heading">Industry Relations</p>
               <p class="work-text">Vel Tech focuses on various disciplines of Engineering and Management, Media & Communication Technology, LAW and Applied Sciences. Since the inception in 1997, Vel Tech has laid emphasis on intense Industry-Integration, Impactful Research, International Collaborations and Technology Business Incubations.</p>
             </div>
           </div>
           <div class="about-me">
             <div class="about-me-text">
               <h2>About Us</h2>
               <p>Vel Tech Rangarajan Dr. Sagunthala R&D Institute of Science and Technology, formerly known as Vel Tech Dr. RR & Dr.SR University and commonly referred to as Vel Tech, is a private institute located in Avadi, Chennai, Tamil Nadu. It offers undergraduate, postgraduate and Doctoral programmes in engineering and technology, in addition to a Master of Business Administration and Polytechnic. It consists of four other campuses such as the Multi Tech, High Tech, VTRS, And the Arts and Science.</p>
             </div>
             <img src="https://www.campusoption.com/images/colleges/gallery/20_04_16_123328_College.jpeg" alt="me">
           </div>
      </main>
   </body>
</html>